Package: org.Clutch
Name: Clutch
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Anton Titkov
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

