[submodule "Libraries/ZipArchive"]
    path = Libraries/ZipArchive
    url = https://github.com/mattconnolly/ZipArchive.git
[submodule "yopa-package"]
    path = yopa-package
    url = https://github.com/KJCracks/yopa-package.git
