<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugFix</key>
	<string></string>
	<key>Major</key>
	<string>1</string>
	<key>Minor</key>
	<string>0</string>
	<key>PackageRevision</key>
	<string>1</string>
	<key>Stage</key>
	<string></string>
</dict>
</plist>
